@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');
.home-hero-lg{
    animation-name: home-hero;
    animation-duration: 2s;
    width: 100%;
}
.container-home-hero-lg{
    width: 100vw;
    position: relative;
}
.home-hero-content-lg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
}
.home-hero-cover-lg{
    width: 100%;
}
.home-hero-button-go-i-lg {
    font-size: 25px;
    animation-name: go-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    color: #505050;
}
.home-hero-button-go-i-lg:hover .home-hero-button-go-i-lg{
    color:#fff;
}

.home-hero-text-title-en-lg{
    font-size: 80px;
    font-family: 'Lobster Two', cursive;
    font-weight: normal;
    font-style: italic;
    animation-name: title-text;
    animation-duration: 1s;

 
}


.home-hero-text-title-cn-lg{
    font-size:50px;
    font-family: 'Noto Serif TC', serif;
    color: #505050;
    overflow: hidden; /* Ensures the text is not visible */
    border-right: .15em solid #E7725C; /* Creates the blinking cursor */
    white-space: nowrap; /* Prevents the text from wrapping */
    margin: 0 auto; /* Centers the text */
    letter-spacing: .15em; /* Adds spacing between letters */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;

}
.container-typing-lg{
    width: 75%;
}
.home-hero-text-slogan-lg{
    font-size: 20px;
    color: #E7725C;
    animation-name: title-text-cn;
    animation-duration: 3s;

}
.home-hero-text-p-lg {
    color: #DA7E3C;
    font-size: 15px;
    animation-name: title-text-cn;
    animation-duration: 3s;
}
.container-typing-home{
    width:20%;
    margin: 0 auto; /* Centers the text */
}
/* sm */
@media screen and (max-width:600px) { 
    .home-hero-text-title-en-lg{
        font-size: 70px;
        font-family: 'Lobster Two', cursive;
        font-weight: normal;
        font-style: italic;
    }
    .home-hero-text-title-cn-lg{
        font-size: 40px;
    }
    .home-hero-text-slogan-lg{
        font-size: 15px;
    }
    .home-hero-text-p-lg {
        display: none;
    }
}