     /* Menu RDW */
     @media screen and (min-width: 992px) {
        div.sidemenu{
        display:none;
        
        }
       .topmenu{
        width: 100%;
        height: 55px;
        background-color: red;
        font-family: 'Noto Sans TC', sans-serif;
        font-family: 'Raleway', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        }

        .navbar{
            height: calc(100%-50px);
            width: 100%;
            position:fixed;
            top: 0;
            left: 0;
          
        }
        .fixedbug{
          height: 55px;
        }

        /* RWD Home Hero */
        .home-hero-lg{
          display: none;
        }
      }
        @media screen and (max-width: 992px) {
        div.topmenu {
        display: none;
        }
        }
        @media screen and (max-width: 992px) {
        div.topmenu {
        display: none;
        }
        .home-hero{
          display: none;;
        }
        
        }

        /* RWD About me */
        @media screen and (min-width: 992px){
          .aboutme-md{
            display: none;
          }
    
        }

      
        
        @media screen and (max-width: 992px){
          .aboutme-xlg{
            display: none;
          }
        }