
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
.topmenu{
  width: 100%;
  height: 55px;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  }

   .navbar-brand-text{
    font-family: 'Lobster Two', cursive;
    font-weight: normal;
    font-style: italic;
   }

   .nav-text-md {
    font-family: 'Noto Sans TC', sans-serif;
   }

   .nav-text-md:hover{
    color: #f69586;
   }
   .dropdown-content-md{
    font-family: 'Noto Sans TC', sans-serif;
   }
   .dropdown-content-md:hover{
    color: #f69586;
   }
    .top-logo-topmenu-lg-hover{
      position: absolute;
      left: 12px;
    }
    /* Logo */
    .top-logo-topmenu-lg{
      position: relative;
      z-index: 99;
      opacity: 1;
    }
    .top-logo-topmenu-lg:hover {
    opacity: 0;
    }
