@media screen and (min-width:1400px) {
    
  .class-content-p {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 45px;
    font-size: 25px;
  }

  }


  @media screen and (max-width:1400px) {
    
  .class-content-p {
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 40px;
    font-size: 20px;
  }

  }

 

  /* using showdonw.js */
  @media screen and (max-width:768px) {
    .class-content-md,.rating-md, .class-content-md,.thoughts-md,.review-md {
    display: none;
    }
    .class-content-sm,.rating-sm,.class-content-sm,.thoughts-sm,.review-sm {
    display: block;
    }

  }
  @media screen and (min-width:768px) {
    .class-content-sm,.rating-sm,.class-content-sm,.thoughts-sm,.review-sm {
    display: none;
    }

    .class-content-md,.rating-md,.class-content-md,.thoughts-md,.review-md {
    display: block;;
    }
  }



  .class-content-p img{
  margin-top: 3rem !important;
  width: 70%;
  box-shadow: 0 0.5rem 1rem rgba(33, 37, 41,.15);
  border-radius:.5rem ;
}

.class-content-p a{
color:#E7725C;
}


.img-note{
  font-size:.8rem;
}


.img-note a{
  font-size:.8rem;
  color: #505050;
}


.class-content-p u{
  color: #9B210F;
}