@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@500&display=swap');
.home-hero-lg{
    animation-name: home-hero;
    animation-duration: 2s;
    width: 100%;
}
.container-home-hero-lg{
    position: relative;
}
.home-hero-content-lg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(35,24,21,0.3);
    
}

.home-hero-cover-lg{
    width: 100%;
    
}
.home-hero-button-go-i-lg {
    font-size: 25px;
    animation-name: go-button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    color:#F6B388;
}
.home-hero-button-go-i-lg:hover .home-hero-button-go-i-lg{
    color:#fff;
}

.home-hero-text-title-en-lg{
    font-size: 80px;
    font-family: 'Lobster Two', cursive;
    font-weight: normal;
    font-style: italic;
    animation-name: title-text;
    animation-duration: 1s;
    color:#F6B388;

}


.home-hero-text-title-cn-lg{
    font-size:50px;
    font-family: 'Noto Serif TC', serif;
    color: #fff;
}
.home-hero-text-slogan-lg{
    font-size: 20px;
    color:#f69586;;
    animation-name: title-text-cn;
    animation-duration: 3s;

}
.home-hero-text-p-lg {
    color: #FFD7C0;;
    font-size: 15px;
    animation-name: title-text-cn;
    animation-duration: 3s;
}
.container-typing-home{
    width:20%;
    margin: 0 auto; /* Centers the text */
}
/* sm */
@media screen and (max-width:600px) { 
    .home-hero-text-title-en-lg{
        font-size: 70px;
        font-family: 'Lobster Two', cursive;
        font-weight: normal;
        font-style: italic;
    }
    .home-hero-text-title-cn-lg{
        font-size: 40px;
    }
    .home-hero-text-slogan-lg{
        font-size: 15px;
    }
    .home-hero-text-p-lg {
        display: none;
    }
}