###Redirect To Https Config Start###

RewriteEngine On

RewriteCond %{SERVER_PORT} !^443

RewriteCond %{REQUEST_URI} !^/\.well-known

RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

###Redirect To Https Config End###



# 404 Page
RewriteEngine On
ErrorDocument 404 /404_page.html

# 403 Page
RewriteEngine On
ErrorDocument 403 /403_page.html



#限制網頁存取
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^https://mlearning.url.tw/.*$ [NC]
RewriteRule \.(jpg|jpeg|gif|png|css|js|webp)$ - [F]



Options -Indexes




<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>

## URL重寫規則
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1/index.html [NC,QSA,L]








